<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="LocationTemplate" value="http://gd2.mlb.com/components/game/mlb/year_{0}/month_{1}/day_{2}/master_scoreboard.xml?store=MlbType"/>
    <add key="Mlb" value="vmaz-sqp01.cloudapp.net, 6033"/>
    <add key="MlbDb" value="Mlb"/>
    <add key="ClientId" value="1abb25fe-f654-42b6-bf9e-c60f482c3f23"/>
    <add key="ClientSecret" value="3E3mNMStlkrzJELK9SSLO41SFvQUcUNKxwyYdKCiGE4="/>
    <add key="KeyBundleUri" value="https://lensgrinder.vault.azure.net:443/keys/localhost"/>
    <add key="SqlPassword" value="JWmdpP4VnahZ8Zk4yYwwuiAXuOrnojC8M7n0JcsJZQ8SZhDuvPVW7Q5g5MJW+Hl1pVKJ56vLllj0BbG5BNWnjotiZ9gOhC3Yq4Z1nwFRrVdBr80df/9iH9/gp4JuZPDSGYD7pK+XbAy6UdOvQcayhVZtSTiiyPRiFC3m3GYG9pk="/>
  </appSettings>
</configuration>
